   <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img style="width: 150px; margin-top: 30px;" src="/assets/images/finallogi.png">
                   
                </div>
                 <div class="col-sm-6">
                    <h5>Our Vision</h5>
                    <p>We wish to create a sense of trust in users who want to buy and sell their projects safely on the web from anywhere in the world. Our goal is to have a system that truly delivers on its promise of transparency and security. We plan to keep rediscovering technologies to provide an experience unlike any other to users. </p>
<p>Join us in changing the way online marketplaces work for projects in a newer world.</p>
                </div>
               <!-- <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>-->
                <div class="col-sm-3">
                    <div class="social-networks">
                        
                      <p style="color: black; padding-left: 5px;">  <a href=" https://www.facebook.com/projectblock" class="facebook"><i class="fa fa-facebook"></i></a></p>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 Copyright  </p>
        </div>
    </footer>