<div class="limiter">
		<div class="container-login100"  style="background-image: url('./assets/images/bk.jpg');">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form class="login100-form validate-form" [formGroup]="requestForm">
					
					<h1>Request Form</h1>
                <h2>Please fill this form to send your request</h2>
    

					<span class="login100-form-title p-t-20 p-b-45">
						
					</span>

     

					
					<div class="wrap-input100 validate-input m-b-10" >
						<input class="input100" type="text" name="supervisor" placeholder="supervisor"  formControlName="supervisor">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-10" >
						<input class="input100" type="number" name="contact" placeholder="contact"  formControlName="contact">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>
					
					

		

					
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Organization is required">
						<input class="input100" type="text" name="organ" placeholder="Organization/Institution" #org formControlName="organ">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>
					
					
					
					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn" value="Sign Up" (click)="addProject()">
							Send Request
						</button>
					</div>

					

						
					<div class="row"  *ngIf="showMsg" >
        <div class="col-xs-12">
          <p class="alert " style="padding: 10px; margin:5px; background-color: black; color: white">
              <strong>Request is submitted!</strong> 

          </p>
        </div>
      </div>
					
					
				</form>
			</div>
		</div>
	</div>
	