<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Position</th>
    <th>Mobile Number</th>
    <th></th>
  </thead>
  <tbody>
    
    	 <div class="col-md-4" *ngFor="let product of products$ | async ">
      <div *ngIf="product.userid == userId">
      <td (click)="onEdit(product)"> {{product.title}}</td>
      <td (click)="onEdit(product)">{{product.description}}</td>
      <td (click)="onEdit(product)">{{product.userid}}</td>
       <td (click)="onEdit(product)">{{userId}}</td>
      <td><a class="btn text-danger" (click)="onDelete(product.id)"><i class="fa fa-trash"></i>button</a></td>
      <td><a class="btn text-danger" [routerLink]="['edit', product.id]"><i class="fa fa-trash"></i>button</a></td>
    </div>
    </div>
  </tbody>
</table>