<div class="limiter">
		<div class="container-login100"  style="background-image: url('./assets/images/bk.jpg');">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form class="login100-form validate-form" [formGroup]="projectForm">
					
					<h1>Project Form</h1>
                <h2>Please fill in this form to post your project.</h2>
    

					<span class="login100-form-title p-t-20 p-b-45">
						
					</span>

    

					<div class="wrap-input100 validate-input m-b-10" >
						<input class="input100" type="text" name="title" placeholder="Title"  value="" formControlName="title" #title  >

						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-10" >
						<input class="input100" type="text" name="supervisor" placeholder="supervisor"  formControlName="supervisor">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-10" >
						<input class="input100" type="number" name="price" placeholder="Price"  formControlName="price">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>
					
					

		

					
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Organization is required">
						<input class="input100" type="text" name="organ" placeholder="Organization/Institution" #org formControlName="organ">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Organization is required">
						<input class="input100" type="text" name="topic" placeholder="Topic" #org formControlName="topic">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>
					
					<div class="" style="padding-top: 20px; ">
					<textarea rows="4" class="input100" cols="50" class="text100" placeholder="Description" style="padding-top: 20px;" formControlName="description" name="description" style="padding-left: 50px;"></textarea>
					</div>
					<div class="" style="padding-top: 20px;">
					<textarea rows="4" cols="50" class="text100" placeholder="Terms and Condition" style="padding-top: 20px; padding-left: 50px;" formControlName="terms" name="terms"></textarea>
					</div>
					<div class="form-group text-center" [hidden]="imgUploaded">
        <label for="pictures">Project image</label>
      <div id="product_img" class="text-center">
         
          <input type="file"  id="image" (change)="upload($event)">
           <span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
      </div>
   
    </div>
    <div class="form-group" style="width: 100%;">
        <div class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
        aria-valuemin="0" aria-valuemax="100"
        [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
      </div>
      	<div class="form-group text-center" [hidden]="imgUploaded1">
        <label for="pictures">Project file</label>
      <div id="product_img" class="text-center">
         
          <input type="file"  id="image" (change)="upload1($event)">
           <span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
      </div>
   
    </div>
   
					<!--
					<div class="wrap-input100" data-validate = "Contact No is required">
						<input class="" type="file" name="imageo" #image formControlName="imageo">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>-->
					
					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn" value="Sign Up" (click)="addProject()">
							Create Project
						</button>
					</div>

					
<div class="row"  *ngIf="showMsg" >
        <div class="col-xs-12">
          <p class="alert " style="padding: 10px; margin:5px; background-color: black; color: white">
              <strong> Successfully created your project!</strong> 

          </p>
        </div>
      </div>
						
					
					
					
				</form>
			</div>
		</div>
	</div>
	