<div class="container">
  <div class="row">
    <div class="col" style="margin: 20px; margin-top:150px; ">
      
      <h2 style="text-align: center; color: black; ">Project Requests</h2>
    </div>
  </div>
<table class="table table-hover">
  <thead>
    <th>Title</th>
    <th>Status</th>
    <th>Organization</th>
   
    <th>Supervisor</th>
    <th>Contact</th>
    <th>Delete</th>
    <th>Action</th>
    <th>Profile</th>
  </thead>
  <tbody  *ngFor="let product of products$ | async ">
    
    	 
      
        <tr *ngIf="product.requestid == userId">
      
      <td > {{product.title}}</td>
    
      <td *ngIf="product.status==true">Verified</td>
      <td *ngIf="product.status==false">Not Verified</td>
      <td >{{product.organization}}</td>
      
      <td >{{product.supervisor}}</td>
       <td style="text-align: center;">{{product.contact}}</td>
      
      <td style=" "><a class="btn " (click)="onDelete(product.id)" style="color: white; background-color: Red;"><i class="fa fa-trash"></i>Delete</a></td>
       <td style="color: white; "><a class="btn " style="color: white; background-color: Green;" (click)="status(product.id)">Accept/Reject</a></td>
          <td style="color: white; "><a class="btn " style="color: white; background-color: black" routerLink="/user/detail/{{product.userid}}"><i class="fa fa-trash"></i>View User Profile</a></td>
      
   
   </tr>
  </tbody>
</table>
</div>
