<div class="container-fluid">
	<div class="row">
<div class="promo">
				<ul class="sli">
					<li style="background: url(assets/images/back.jpg);  ">
						<div class="sli1">

							<div class="slide-info col-md-8">
								<h1>ProjectBlock</h1>
                
								<h2>A Decentralized Marketplace for Projects</h2>

							<!-- 	<button type="button">Create Project</button> -->
							</div>
							<div class="slide-info">
							  
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="assets/PB.mp4"></iframe>
      </div>
  </div>
						</div>
					</li>
				</ul>
			</div>
      <div style="margin:40px; " >
			<div class="card-group">
  
 
  <div class="card-deck" style="margin-right: 100px; margin-left: 100px;">
  <div class="card" style="">
    <img class="card-img-top" src="assets/images/5.1.jpg" alt="Card image cap">
    <div class="card-body" >
      <h5 class="card-title">Direct Payments</h5>
      <p class="card-text">Users can transact directly on their own terms without any monitoring from third parties</p>
     <!--  <p class="card-text"><small class="text-muted"></small></p> -->
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/4.png" alt="Card image cap">
    <div class="card-body" style="">
      <h5 class="card-title">Transparency</h5>
      <p class="card-text">Once a transaction has been made, it is traceable and immutable, making the system of payment fraud-proof</p>
    
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/6.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">No Human Errors</h5>
      <p class="card-text">Unbreakable and automatically executed smart contracts leave no room for human error</p>
     
    </div>
  </div>
</div>
			</div>
</div>
</div>
</div>